<article>
  <h4>grouper ses messages</h4>
  <button (click)="groupDemo()">group</button>
  <br>
  <button (click)="nestedGroupDemo()">nestedGroupDemo</button>
  <br>
  <button (click)="collapsedGroupDemo()">collapsedGroupDemo</button>
</article>

<article>
  <h4>vérifier une assertion</h4>
  <button (click)="assertDemo()">assertDemo (test success)</button>
  <br>
  <button (click)="failedAssertDemo()">failedAssertDemo (test fail)</button>
</article>

<article>
  <h4>imprimer avec du style</h4>
  <button (click)="formattedMessageDemo()">message stylé</button>
</article>

<article>
  <h4>imprimer avec encore plus de style</h4>
  <button (click)="logFireDemo()">moar swagg PLZ</button>
</article>
</article>

<article>
  <h4>it's over 9000</h4>
  <button (click)="logBetterFireDemo()">turn it to 11</button>
</article>

<article>
  <h4>logger un élément du DOM</h4>
  <button (click)="dirDemo()">console.dir()</button>
</article>

<article>
  <h4>présentation d‘une variable sous la forme d‘un tableau</h4>
  <button (click)="tableDemo()">console.table()</button>
</article>

<article>
  <h4>n'afficher que certaines propriétés dans le tableau</h4>
  <button (click)="advancedTableDemo()">console.table(subject, propertiesToPrint)</button>
</article>

<article>
  <h4>imprimer une stacktrace</h4>
  <button (click)="stackTraceDemo()">console.log(0/0)</button>
</article>

<article>
  <h4>pauser lors des exceptions</h4>
  <img src="assets/pause_on_exception.png">
</article>

<article>
  <h4>compter le nombre d'itération d'un label spécifique</h4>
  <button (click)="countDemo()">encore une fois</button>
</article>

<article>
  <h4>mesurer le temps d'exécution d'un script</h4>
  <button (click)="timeDemo()">console.time('testTime')</button>
</article>
